* {
	margin: 0;
	padding: 0;
}
.q1 {
	/*font-size: 100px;
	font-family: forte*/;
	 font-weight: 700px ;
	 margin: 0 auto;
	 border: 1px solid red;
	 padding: 10px;
	 text-align: justify;
	 word-spacing: 10px;
	width: 300px;
}
.w1 {
	letter-spacing: 20px;
}